---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
        I am incredibly enthusiastic about researching in Software Engineering, Software Testing, and Web
        Services.
        These areas are dynamic and ever-evolving in the technology landscape, and I take great pleasure in exploring
        innovative solutions to complex problems within them.
        My commitment is to contribute meaningfully to these domains, advancing our understanding of how software can
        drive progress and efficiency across various industries.
    </div>

    <div class="mt-8 pb-6">
        <a class="btn bg-primary hover:bg-gray-200" href="/CChaniotaki_CV.pdf" target="_blank"> Download My CV</a>
        <a class="btn border-primary ml-5 hover:bg-gray-200" href="/CChaniotaki_Resume.pdf" target="_blank">
            Download My Resume
        </a>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Ph.D. in Computer Science"
                university="University of Southern California (USC), Los Angeles, California."
                subtitle="Aug 2023 - present"
        >
            <ul class="pl-4 text-sm list-disc">
                <li>Research Interests: Software Engineering, Software Testing, Web Services.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="MSc in Information Systems"
                university="Athens University of Economics and Business (AUEB), Athens, Greece."
                subtitle="Oct 2019 – Jan 2022"
        >
            <ul class="pl-4 text-sm list-disc">
                <li> GPA: 8.74/10 – "Distinction".</li>
                <li> Thesis: "An Empirical Investigation of Boilerplate Code," supervised by Prof. Diomidis Spinellis.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="BSc in Management Science and Technology"
                university="Athens University of Economics and Business (AUEB), Athens, Greece."
                subtitle="Sep 2014 – Oct 2018"
        >
            <ul class="pl-4 text-sm list-disc">
                <li> GPA: 9.28/10.</li>
                <li> Ranked 1st of 54 students in my cohort.</li>
                <li> Major: Software Engineering and Data Science.</li>
                <li> Thesis: "DNA – Distributed Network Architecture," co-authored with Konstantinos Kopanidis and
                    supervised by Prof. Panos Louridas, Prof. George Xylomenos and, asst. Prof. Dimitris Mitropoulos.
                </li>
            </ul>
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Work Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Graduate Teaching Assistant (Part-time)"
                university="University of Southern California (USC), Los Angeles, California."
                subtitle="Aug 2023 – present"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Course: CSCI 530 - Security Systems, Prof. Clifford Neuman.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Senior Software Engineer (Full-time)"
                university="European Banking Authority (EBA), Paris, France."
                subtitle="Feb 2023 – Jun 2023"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Anti-money Laundering Platform: Maintenance and development of the web application.</li>
                <li> Egate: Maintenance and development of the Competent Authorities Notification system.</li>
                <li> Tech Skills: Java, Angular, Docker, MongoDB, CSS.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Senior Software Engineer (Full-time) - Team Leader"
                university="UBITECH LTD, Athens, Greece"
                subtitle="Jun 2022 – Feb 2023"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>ResearhHUB: Design, implementation, and development of a platform that aggregates data for
                    research projects in the United Arab Emirates.
                </li>
                <li>eu-LISA: Graphical design and development of the Greek Entry-Exit System for border control.</li>
                <li>Vikelaia Audiovisual: Development of the website that houses a collection of Cretan culture.</li>
                <li> Tech Skills: Quarkus, Angular, Docker, Elastic, MongoDB, Vue.js, Minio, Figma, Node.js, SQL, CSS.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Senior Software Engineer (Full-time)"
                university="UBITECH LTD, Athens, Greece"
                subtitle="Aug 2020 – Jun 2022"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>Dehems: Graphical design, implementation, and development of a platform for monitoring patient
                    records and experiments on HIV or COVID blood samples.
                </li>
                <li>Kampos Chiou: Development of the website that presents a historical region in Chios.</li>
                <li>Co-Museum: Re-development of the website that hosts international conferences for Benaki Museum.</li>
                <li>Infinitech: Development of a PoC for a Consent Management System for Banking Services.</li>
                <li>Tech Skills: Spring-boot, Quarkus, Angular, Docker, Elastic, Vue.js, Minio, Figma, Node.js, SQL,
                    MongoDB, CSS.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Software Engineer (Full-time)"
                university="UBITECH LTD, Athens, Greece"
                subtitle="Nov 2018 – Aug 2020"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>ICARUS: Design and development of the back-end system and the desktop application for an aviation
                    industry sensitive data processing and marketplace platform.
                </li>
                <li>SPIDER 5G Cyber Range: Design the graphical interface of the training platform.</li>
                <li>DESTINY: Design the graphical interface of the platform that handles digital medical processing.</li>
                <li>Tech Skills: Spring-boot, Angular, Docker, Elastic, Solr, MongoDB, Minio, Figma, Node.js, SQL,
                    CSS, WordPress.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Back-end Developer (Contractor)"
                university="Oracle, Athens, Greece"
                subtitle="Summer 2018"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>Maintenance and development of the back-end system for managing billing information in the Hellenic
                    Telecommunications Organisation.
                </li>
                <li>Tech Skills: Java EE, OracleDB, Web Services.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Full Stack Web Developer (Intern)"
                university="Cardlink, Athens, Greece"
                subtitle="Spring 2018"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>Cardlink Pulse: Design, implementation, and development of the Analytics Platform for managing
                    data and information of merchant e-shop businesses.
                </li>
                <li>Tech Skills: MEAN stack (Angular, MongoDB, Node.js), Docker, Python.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Software Engineer (Freelance)"
                university="Quintessential SFT, Athens, Greece"
                subtitle="Aug 2017 – Jul 2019"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>Cardlink Chatbot: Development of a customer support service chatbot.</li>
                <li>Cloudnous: Development of a Cloud-Based SaaS billing analytics platform.</li>
                <li>GAMS Visualization: Development of a platform for excel data visualization.</li>
                <li>Tech Skills: MEAN stack (Angular, MongoDB, Node.js), Docker, Chatbot (MS Bot Framework).</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Training Assistant at 2nd Coding Bootcamp (Part-time)"
                university="Peoplecert, Athens, Greece."
                subtitle="Apr 2017 – Jul 2018"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Assisting students with issues and questions related to web development technologies.</li>
                <li>Tech Skills: HTML5, CSS3, Java, JSP, Bootstrap, Servlets, Git, JavaScript, jQuery.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Junior Back-end Developer (Freelance),"
                university="Athens, Greece."
                subtitle="Apr 2017 – Jul 2018"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Butlair: Design and development of the back-end system.</li>
                <li>Doobbear: Development of a voice application based on Amazon Alexa.</li>
                <li>Tech Skills: JavaScript, Node.js, SQL, MongoDB, Express.js, Flask Ask, Alexa Skill Kit, Python.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Web Developer (Freelance),"
                university="Athens, Greece."
                subtitle="Oct 2015 – Dec 2016"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li>Design and development of static websites.</li>
                <li>Tech Skills: WordPress, HTML5, CSS3.</li>
            </ul>
        </TimeLineElement>
    </div>


    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Research Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Research Assistant (Part-time)"
                university="Software Quality Lab (SQL), USC, Los Angeles, California."
                subtitle="Aug 2023 – present"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Advisor: Prof. William G.J. Halfond.</li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Research Assistant (Part-time)"
                university="Business Analytics Lab (BALab), AUEB, Athens, Greece."
                subtitle="Feb 2021 – Jun 2023"
        >
            Laboratory focused on software, systems, methods, and practices.
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Led an empirical investigation on Boilerplate Code, with Vaggelis Atlidakis, Zoe Kotti, Aggeliki
                    Papadopoulou, George Liargovas, and Prof. Diomidis Spinellis.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Research Assistant (Full-time)"
                university="Centre of Planning and Economic Research (KEPE), Athens."
                subtitle="Jun 2015 – May 2016"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Econometric sectoral analysis, on elements of the country’s workers using STATA tool from
                    2008–2015,
                    under the supervision of Prof. P. Prodromidis.
                </li>
            </ul>
        </TimeLineElement>
        <TimeLineElement
                title="Participant (Part-time)"
                university="Management Science a Technology (DMST), Athens"
                subtitle="Oct 2014 – May 2015"
        >
            <ul class="pl-4 text-sm list-disc pb-2">
                <li> Development of mathematical methods using Matlab to solve Numerical Equations and Systems
                    Equations. Supervised by Prof. P. Lappas.
                </li>
            </ul>
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Publications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            Nikos D Sakkas, Sofia Yfanti, Pooja Shah, Nikitas Sakkas, <b>Christina Chaniotakis</b>,
            Costas Daskalakis, Marharyta Domnich, Eduard Barbu.
            <i>“Explainable approaches for forecasting building electricity consumption.“</i>
            Accepted at <a class="text-blue-400" href="https://www.mdpi.com/journal/energies" target="_blank">MDPI-Energies</a>,<span
                class="italic">(Sept 2023).</span>
        </li>
        <li>
            N. Sakkas, <b>C. Chaniotaki</b>, N. Sakkas, C. Daskalakis.
            <i>“Building data models and data sharing. Purpose, approaches, and a case study on explainable demand
                response.“</i>
            Published at
            <a class="text-blue-400" href="https://iopscience.iop.org/article/10.1088/1755-1315/1122/1/012066/meta"
               target="_blank">
                SBEFIN</a>,<span class="italic">(Nov 2022).</span>
        </li>
        <li>
            <b>C. Chaniotaki</b>, P. Prodromidis.
            <i>“The trade sector and regions that displayed an increase in employment during the recession
                (2008-2015).“</i>
            Presented at the
            <a class="text-blue-400"
               href="http://doeptm.aua.gr/wp-content/uploads/2016/05/Πρόγραμμα_19ο-Επιστημονικό-Συνέδριο-ΣΕΠ_Λαμία_20160512.pdf"
               target="_blank">
                19th Scientific Conference of Association of Greek and Regional</a>,<span
                class="italic">(May 2016).</span>
        </li>
        <li>
            P. Lappas, E. Kritikos, <b>C. Chaniotaki</b>, C.T. Lardopoulou, and A. Gotsi.
            “An Educational Scenario in the context of Scientific Process: Numerical Solution of Equations
            and Systems of Equations using Cognitive Tools.“ Presented at the 12th DMST Student Conference,
            <span class="italic">(May 2015).</span>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Teaching & Training</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="#" target="_blank">Training-session: One-hour technical training session on "Building web
                applications with Java and React", Tech Connect, Athens, Greece, </a><span class="italic">(Feb 2022 & Feb 2023).</span>
        </li>
        <li>
            <a href="#" target="_blank">Seminar: Three-hour seminar session on "Angular Framework Architecture,
                Structure, and
                Best Practises with examples", UBITECH LTD, Athens, Greece, </a><span class="italic">(Nov 2021).</span>
        </li>
        <li>
            <a href="#" target="_blank">Seminar: One-hour seminar for "Design Patterns", UBITECH LTD, Vitina,
                Greece, </a>
            <span class="italic">(Feb 2020).</span>
        </li>
        <li>
            <a href="#" target="_blank">Guest-lecture: Four four-hour lectures on how to "Design a Mobile App From
                Scratch" under
                the supervision of Prof. George Lekakos, DMST, AUEB, Athens, Greece, </a>
            <span class="italic">(Spring 2018 & 2019).</span>
        </li>
        <li>
            <a href="#" target="_blank">Seminar: One-hour seminar session on "Chatbots", UBITECH LTD, Kalavrita,
                Greece, </a>
            <span class="italic">(Feb 2019).</span>
        </li>
        <li>
            <a href="#" target="_blank">Seminar: One-hour seminar session on "How to Create a Cloud Application with
                Firebase and
                Angular", Scientific Technology Conference from IEEE Student Branch, Lamia, Greece,</a>
            <span class="italic">(Dec 2018).</span>
        </li>
        <li>
            <a href="#" target="_blank">Seminar: One-hour seminar session on "How to create an Alexa Skill", 14th
                Student Conference,
                DMST, Athens, Greece,</a>
            <span class="italic">(Feb 2017).</span>
        </li>
        <li>
            <a href="#" target="_blank">Workshop: One-hour workshop on "What are the neural networks", ACEin, Athens,
                Greece,</a>
            <span class="italic">(Oct 2016).</span>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Community Service</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="#" target="_blank"> Junior PC member at Mining Software Repositories (MSR) 2023.</a>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Honors & Awards</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="#" target="_blank">
                Four years funding: Research or Teaching Assistantship, Ph.D in Computer Science, USC, </a>
            <span class="italic">(2023).</span>
        </li>
        <li>
            <a href="#" target="_blank"> Scholarship for the top student admitted to class, MSc in Information Systems,
                at AUEB, </a><span class="italic">(2019).</span>
        </li>
        <li>
            <a href="#" target="_blank"> 1st place winner - The development of pilot applications and services for
                Smart Cities or Public Administrator, Central Hackathon, </a>
            <span class="italic">(2018).</span>
        </li>
        <li>
            <a href="#" target="_blank"> Innovative Product/Service, Start-Up/Scale-Up Greece Awards
                by Philip Morris International, </a>
            <span class="italic">(2017).</span>
        </li>
        <li>
            <a href="#" target="_blank"> Award for Excellent Assignment in Algorithms and Data Structures course by
                Prof. P. Louridas, </a>
            <span class="italic">(2016).</span>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Programming Skills</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li><b>Languages:</b> Java, JavaScript, Typescript, Python, HTML5, CSS3, JSP, jQuery, R.</li>
        <li><b>Frameworks; Libraries:</b> Spring-Boot, Quarkus, Angular 2+, Vue.js, MEAN Stack, RESTful API,
            Chatbots (BotBuilder), Electron.js, Minio, Hibernate, Maven, NPM.
        </li>
        <li><b>Databases:</b> SQL, MySQL, MSSQL, Postgres, OracleDB, MongoDB, Redis.</li>
        <li><b>Other:</b> Node.js, Docker, Git, Alexa Skill, Matlab, Wordpress, Firebase, Elastic, Solr, Nginx.</li>
        <li><b>Other Skills:</b> Code Review, Debugging, Testing.</li>
        <li><b>Design:</b> User Experience/User Interface (UX/UI), Figma.</li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Volunteering</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="#" target="_blank">
                <b>Back End Developer</b>, Panorama of Entrepreneurship and Career, Athens, Greece,</a>
            <span class="italic">(2016-2018).</span>
        </li>
        <li>
            <a href="#" target="_blank">
                <b>Content and Subject Creator</b>, 2nd Coding Bootcamp for Students, Athens, Greece,</a>
            <span class="italic">(2016).</span>
        </li>
        <li>
            <a href="#" target="_blank">
                <b>Session Coordination</b>, 6th Panorama of Entrepreneurship and Career, Athens, Greece,</a>
            <span class="italic">(2016).</span>
        </li>
        <li>
            <a href="#" target="_blank">
                <b>Session Coordination</b>, The Centre of Planning and Economic Research, Kylini, Greece,</a>
            <span class="italic">(2015).</span>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Languages</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <b>Greek</b> (Native).
        </li>
        <li>
            <b>English</b> (Fluent).
        </li>
        <li>
            <b>Spanish</b> (A1 - Basic words and phrases only).
        </li>
    </ul>
</BaseLayout>
