---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <!--<div class="text-xl py-1">Hello! Welcome to my personal site! 👋</div>-->
        <div class="text-3xl font-bold">Christina Chaniotaki</div>
        <!--<div class="text-2xl py-3 font-bold">Ph.D. Student in Computer Science at <a href="https://www.usc.edu/">University of Southern California</a></div>-->
        <div class="py-2 pt-4">
            <text class="text-lg text-justify">
                Life is truly marvelous, especially when you chase and achieve your dreams.
                Along the way, you may encounter a few <i>"bugs,"</i> but if you strive,
                you may overcome them.
                Just as in life, <b>Software Engineering</b> faces issues.
                I derive immense satisfaction from resolving real-life challenges,
                and I'm eager to discover innovative methods for detecting and
                solving problems in the realm of Software Engineering as well.
                <br>
                <br>
                Currently, I am a Ph.D. Student in <a href="https://www.cs.usc.edu/" class="text-blue-500">Computer
                Science</a>
                at the <a href="https://www.usc.edu/" class="text-blue-500">University of Southern California (USC)</a>,
                supervised by Prof. <a href="https://viterbi-web.usc.edu/~halfond/" class="text-blue-500">William G.J.
                Halfond</a>.
                I received my bachelor's degree in 2018 from the
                <a href="https://www.dept.aueb.gr/en/dmst" class="text-blue-500">Department of Management Science and
                    Technology</a>
                at the <a href="https://www.aueb.gr/en" class="text-blue-500">Athens University of Economics and
                Business</a> in Greece.
                In 2021, I finished a master's degree in
                <a href="https://mscis.cs.aueb.gr/en/normal/home" class="text-blue-500">Information Systems</a>
                at the same University.
                During my studies, I started working in the industry as a Software Engineer.
                My latest job position was Senior Software Engineer at the
                <a href="https://www.eba.europa.eu/" class="text-blue-500">European Banking Authority (EBA)</a>, located
                in Paris, France.

            </text>
          <br><br>
            <text class="text-lg">
                My research interests are in the areas of <b>Software Testing</b>, <b>Program Analysis</b>, and <b>Web Services</b>.
            </text>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">Latest updates</div>
    </div>
    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                    university="January 2025"
                    subtitle="Los Angeles, California"
                    title="I started working as a 50% Teaching Assistant for the course CSCI 310: Software Engineering."
            >
        </TimeLineElement>
        <TimeLineElement
                university="August 2024"
                subtitle="Los Angeles, California"
                title="I started working as a 25% Teaching Assistant for the course CSCI 530: Security Systems."
        >
        </TimeLineElement>
        <TimeLineElement
                university="March 2024"
                subtitle="Los Angeles, California"
                title="I had my first lecture in the course CSCI 310: Software Engineering about 'Security from Implementation Perspective'"
        >
        </TimeLineElement>
        <TimeLineElement
                university="January 2024"
                subtitle="Los Angeles, California"
                title="I started working as a part-time Teaching Assistant for the course CSCI 310: Software Engineering."
        >
        </TimeLineElement>
        <TimeLineElement
                university="August 2023"
                subtitle="Los Angeles, California"
                title="I started working as a part-time Teaching Assistant for the course CSCI 530: Security Systems."
        >
        </TimeLineElement>
        <TimeLineElement
                university="August 2023"
                subtitle="Los Angeles, California"
                title="I moved to Los Angeles to start my Ph.D. studies at USC."
        >
        </TimeLineElement>
        <TimeLineElement
                university="March 2023"
                subtitle="Paris, France"
                title="I started working on European Banking Authority (EBA)."
        >
        </TimeLineElement>
        <TimeLineElement
                university="June 2022"
                subtitle="Athens, Greece"
                title="I became a Team Leader - Senior Software Engineer at UBITECH LTD."
        >
        </TimeLineElement>
        <TimeLineElement
                university="December 2021"
                subtitle="Athens, Greece"
                title="I defended my master's thesis."
        >
        </TimeLineElement>
    </div>

</BaseLayout>
