---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import {getCollection} from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <!--<div class="text-xl py-1">Hello! Welcome to my personal site! 👋</div>-->
        <div class="text-5xl font-bold">Christina Chaniotaki</div>
        <!--<div class="text-2xl py-3 font-bold">Ph.D. Student in Computer Science at <a href="https://www.usc.edu/">University of Southern California</a></div>-->
        <div class="py-2 pt-4">
            <text class="text-lg text-justify">
                Currently, I am a Ph.D. Student in <a href="https://www.cs.usc.edu/" class="text-blue-500">Computer
                Science</a>
                at <a href="https://www.usc.edu/" class="text-blue-500">University of Southern California (USC)</a>,
                supervised by Prof. <a href="https://viterbi-web.usc.edu/~halfond/" class="text-blue-500">William G.J.
                Halfond</a>.
                I received my bachelor's degree in 2018 from the
                <a href="https://www.dept.aueb.gr/en/dmst" class="text-blue-500">Department of Management Science and
                    Technology</a>
                at <a href="https://www.aueb.gr/en" class="text-blue-500">Athens University of Economics and
                Business</a> in Greece.
                In 2021, I finished a master's degree in
                <a href="https://mscis.cs.aueb.gr/en/normal/home" class="text-blue-500">Information Systems</a>
                at the same University.
                During my studies, I started working in the industry as a Software Engineer.
                My latest job position was Senior Software Engineer at the
                <a href="https://www.eba.europa.eu/" class="text-blue-500">European Banking Authority (EBA)</a>, located
                in Paris, France.

            </text>
          <br><br>
            <text class="text-lg">
                My research interests are in the areas of <b>Software Engineering</b>, <b>Software Testing</b>, and <b>Web Services</b>.
            </text>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">News!</div>
    </div>

  <table class="table-auto">
    <tbody>
    <tr>
      <th class="pr-5">August 2023: </th>
      <td>I moved to Los Angeles to start my Ph.D. studies at USC.</td>
    </tr>
    <tr>
      <th class="pr-5">March 2023: </th>
      <td>I started working on European Banking Authority (EBA).</td>
    </tr>
    <tr>
      <th class="pr-5">June 2022: </th>
      <td>I became a Team Leader - Senior Software Engineer at UBITECH LTD.</td>
    </tr>
    <tr>
      <th class="pr-5">December 2021: </th>
      <td>I defended my master's thesis.</td>
    </tr>
    </tbody>
  </table>



</BaseLayout>
