---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="research">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Publications</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            N.D. Sakkas, S. Yfanti, P. Shah, N. Sakkas, <b>C. Chaniotakis</b>,
            C. Daskalakis, M. Domnich, E. Barbu.
            <i>“Explainable approaches for forecasting building electricity consumption.“</i>
            Accepted at <a class="text-blue-400" href="https://www.mdpi.com/journal/energies" target="_blank">
            Multidisciplinary Digital Publishing Institute (MDPI) - Energies</a>, <span
                class="italic">(Sept 2023).</span>
        </li>
        <li>
            N. Sakkas, <b>C. Chaniotaki</b>, N. Sakkas, C. Daskalakis.
            <i>“Building data models and data sharing. Purpose, approaches, and a case study on explainable demand
                response.“</i>
            Published at
            <a class="text-blue-400" href="https://iopscience.iop.org/article/10.1088/1755-1315/1122/1/012066/meta"
               target="_blank">
                Emerging Concepts for Sustainable Built Environments (SBEFIN)</a>, <span class="italic">(Nov 2022).</span>
        </li>
        <li>
            <b>C. Chaniotaki</b>, P. Prodromidis.
            <i>“The trade sector and regions that displayed an increase in employment during the recession
                (2008-2015).“</i>
            Presented at the
            <a class="text-blue-400"
               href="http://doeptm.aua.gr/wp-content/uploads/2016/05/Πρόγραμμα_19ο-Επιστημονικό-Συνέδριο-ΣΕΠ_Λαμία_20160512.pdf"
               target="_blank">
                19th Scientific Conference of the Association of Greek Regionalists</a>, <span
                class="italic">(May 2016).</span>
        </li>
        <li>
            P. Lappas, E. Kritikos, <b>C. Chaniotaki</b>, C.T. Lardopoulou, and A. Gotsi.
            “An Educational Scenario in the context of Scientific Process: Numerical Solution of Equations
            and Systems of Equations using Cognitive Tools.“ Presented at the 12th DMST Student Conference,
            <span class="italic">(May 2015).</span>
        </li>
    </ul>

    <div class="divider my-5"></div>
    <div>
        <div class="text-3xl w-full font-bold mb-5">Master's Thesis</div>
    </div>

    <a class="text-blue-400 text-xl" href="http://www.pyxida.aueb.gr/index.php?op=view_object&object_id=9089"
       target="_blank"><b>An Empirical Investigation of Boilerplate Code</b></a><br>
    <span class="font-light text-sm">Mar 2021 - Dec 2021</span><br>
    Investigation of the reasons for using boilerplate code. It includes an examination of previous research,
    tool-based code analysis, and a questionnaire survey.
    <br>
    Participants: Aggeliki Papadopoulou, George Liargovas, Zoe Kotti
    <br>
    Supervisor: Prof. Diomidis Spinellis

    <div class="divider my-5"></div>
    <div>
        <div class="text-3xl w-full font-bold mb-5">Bachelor's Thesis</div>
    </div>

    <a class="text-blue-400 text-xl" href="https://drive.google.com/file/d/1TzsOp3lQHBPK7v8lROwM_QkfrGq0esGf/views"
       target="_blank">
        <b>DNA – Distributed Network Architecture</b></a><br>
    <span class="font-light text-sm">Jun 2017 - Apr 2018</span><br>
    <p class="pt-1"> Development of a Distributed Network that uses Android Smartphones to run server-side
    NodeJS code or plain Javascript Scripts.
    A library for Android applications, an API that handles all the jobs and a GUI for the users designed, implemented
    and developed. Co-authored with Konstantinos Kopanidis.
    <br>
        Supervisors: Prof. Panos Louridas, Prof. George Xylomenos and Prof. Dimitris Mitropoulos.</p>


    <div class="divider my-5"></div>
    <div>
        <div class="text-3xl w-full font-bold mb-5">Academic Projects</div>
    </div>

    <a class="text-blue-400 text-xl" href="https://github.com/Christina96/google-calendar-alexa-skill"
       target="_blank"><b>Google Calendar Alexa Skill</b></a><br>
    <span class="font-light text-sm">Apr 2017 - Jan 2018</span><br>
    <p class="pt-1"> An Alexa Skill for Amazon Echo by using Flask-Ask.
        With this skill you can connect your Public Google Calendar with your Amazon Echo and listen all your reminders
        or reminders for a specific day.
        <br>
        <i>Presented at Student Conference of the Department of Management Science and Technology, Athens University of
        Economics, Athens.</i></p>


</BaseLayout>
