---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="teaching">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Work Projects</div>
  </div>

  <HorizontalCard
    title="UtilAI"
    badge="APINTECH"
    date="Nov 2021 - Aug 2023"
    img="/util-ai.png"
    desc="UtilAI assists users in managing building utilities (e.g., energy, water) cost-effectively. Users can easily upload invoices, auto-extract essential data, and gain expense-reduction insights. It also allows for tariff comparisons, aiding informed utility management decisions. I led the project, designed the graphical interface, and the technology stack, and also implemented and developed the web platform. I had under my supervision two other colleagues."
    url="https://utilai.eu/"
    skills="JavaScript · Java · Quarkus · TypeScript · Figma (Software) · Teamwork · Team Leadership · Distributed Systems · Web Development · User Experience (UX) · SQL · CSS · HTML5 · Microservices"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Dehems"
    badge="UBITECH LTD"
    date="Sep 2021 - Feb 2023"
    img="/deherms.png"
    desc="This platform manages and routes blood samples for analysis by the National Retrovirus Reference Center. It tracks samples from receipt to processing, handles diverse analysis requests, allows user interaction for submission and result access, integrates with the lab for processing and secure storage, and ensures encrypted result delivery to physicians. It also supports digital signatures for doctors and supervisors. I designed the graphical interface and also developed the full-stack of the platform. Furthermore, I had under my supervision one other colleague."
    skills="JavaScript · Java · Vue.js · Quarkus · TypeScript · Figma (Software) · Teamwork · Team Leadership · Distributed Systems · Web Development · User Experience (UX) · SQL · CSS · HTML5 · Microservices"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
      title="ResearchHUB"
      badge="UBITECH LTD"
      date="Jun 2022 - Feb 2023"
      img="/research-hub.png"
      desc="ResearchHUB, is an Abu Dhabi initiative, operated by the Advanced Technology Research Council (ATRC) in collaboration with top universities, research centers, government agencies, and higher education institutes in the region. Provides a marketplace platform where the universities from the United Arab Emirates may upload and shell their research work. I designed, implemented, and developed the platform, in co-operation with another colleague."
      url="https://researchhub.ae/"
      skills="Vue.js · Angular · Node.js · Quarkus · Docker · Figma (Software) · Minio · Elasticsearch · SQL · MongoDB · CSS"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
      title="eu-LISA: Entry Exit System/Border Control in Greece"
      badge="UBITECH LTD"
      date="Sep 2022 - Feb 2023"
      url="https://www.eulisa.europa.eu/"
      img="/eu-lisa.png"
      desc="eu-LISA, the EU agency for IT systems in Freedom, Security, and Justice, manages vital IT systems supporting asylum, border, and migration policies. These include Eurodac, SIS, and VIS, with ongoing work on EES, ETIAS, and ECRIS-TCN to enhance EU-level information access and identity management. The agency is also integrating e-CODEX into its portfolio. I designed the graphical interface of the EES in Greece and developed the full-stack of the platform."
      skills="Vue.js · Quarkus · Docker · CSS · Figma (Software)"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
      title="Vikelaia Audiovisual"
      badge="UBITECH LTD"
      date="Nov 2022"
      url="https://vikelaia-audiovisual.gr/?lang=en"
      img="/vikelaia.png"
      desc="Vikelaia is a Municipality Library located in Iraklion, Crete in Greece. The Audiovisual Department houses an extensive collection of audio, video, and photographic resources that beautifully depict various facets of Cretan culture. I developed their website using WordPress."
  />
  <div class="divider my-0"></div>

  <HorizontalCard
      title="Kampos Chiou"
      badge="UBITECH LTD"
      date="Jun 2022"
      url="https://kampos.chios.gov.gr/en/"
      img="/kampos-chiou.png"
      desc="Kambos Chiou stands out as an exceptional blend of residential and agricultural elements, where sprawling citrus orchards coexist harmoniously with grand estates. I developed the website of the platform using WordPress."
  />
  <div class="divider my-0"></div>

 <HorizontalCard
      title="ICARUS"
      badge="UBITECH LTD"
      date="Nov 2019 - Jun 2021"
      url="https://www.icarus2020.aero/"
      img="/icarus.png"
      desc="ICARUS aims to develop a data framework for aviation-related entities like airports, airlines, and IT aviation firms. It helps them enhance data capabilities, share/trade data sources, and gain insights into aircraft, airports, and passengers. The objective is to improve operations, enhance safety, and boost passenger satisfaction. In this project, I designed and developed the back-end system of the platform and a desktop application for sensitive data processing."
      skills="JavaScript · Java · Angular · Node.js · Spring Boot · TypeScript · Figma (Software) · Teamwork · Mean Stack · Algorithms · Distributed Systems · Web Development · User Experience (UX) · SQL · NoSQL · MongoDB · Ionic Framework · CSS · HTML5 · Electron.js · Python (Programming Language) · Microservices · Solr"
  />

  <div class="divider my-0"></div>
<HorizontalCard
      title="SPIDER 5G Cyber Range"
      badge="UBITECH LTD"
      date="Sep 2020 - May 2021"
      img="/spider.png"
      desc="SPIDER aims to deliver a next-generation, extensive, and replicable cyber range platform for the telecommunications domain and its fifth-generation (5G), offering cybersecurity emulation, training, and investment decision support. For this project, I designed all UX/UI designs for the platform differentiating it per user category."
      skills="Figma (Software) · Teamwork · User Experience (UX) · CSS"
  />

<div class="divider my-0"></div>
<HorizontalCard
      title="Co-Museum"
      badge="UBITECH LTD"
      date="Jun 2020 - Feb 2021"
      url="https://thecomuseum.org/"
      img="/co-museum.png"
      desc="Co-Museum is an international conference enriched by satellite events, organized yearly at the Benaki Museum in Athens, Greece. I re-build from scratch all the web pages until December 2020 by using WordPress."
      skills="Teamwork · User Experience (UX) · SQL · CSS · WordPress"
  />

<div class="divider my-0"></div>
<HorizontalCard
      title="INFINITECH"
      badge="UBITECH LTD"
      date="Oct 2020 - Nov 2020"
      url="https://www.infinitech-h2020.eu/"
      img="/infinitech.png"
      desc="INFINITECH is a joint effort of global leaders in ICT and finance towards lowering the barriers for BigData/IoT/AI driven innovation, boosting regulatory compliance, and stimulating additional investments. In this project, I created a POC (Proof of Concept) for a Consent Management System by using Spring-boot and MySQL for the backend and Angular for the front-end."
      skills="JavaScript · Java · Angular · Spring Boot · TypeScript · Teamwork · Distributed Systems · Web Development · User Experience (UX) · SQL · NoSQL · MongoDB · CSS · HTML5"
  />

  <div class="divider my-0"></div>
<HorizontalCard
      title="DESTINY"
      badge="UBITECH LTD"
      date="Jun 2020 - Aug 2020"
      img="/destiny.png"
      desc="DESTINY aims to design, develop, manufacture, and market a reliable, reproducible, and user-friendly MT radioactive extraction software (3D model), which will be obtained through the application of advanced MRI techniques and digital medical processing. I created the UX, UI design for the platform by using Figma."
      skills="Figma (Software) · User Experience (UX) · CSS"
  />

  <div class="divider my-0"></div>
<HorizontalCard
      title="Cloudnous"
      badge="Quintessential SFT"
      date="Aug 2018 - Jan 2019"
      url="https://www.cloudnous.io/"
      img="/cloudnous.png"
      desc="A Billing Analytics Platform for Cloud-Based SaaS Enterprises. I created the front end of the platform by using Angular."
      skills="JavaScript · Angular · TypeScript · Teamwork · Mean Stack · Algorithms · Distributed Systems · Web Development · SQL · NoSQL · MongoDB · CSS · HTML5 · Microservices"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
      title="GAMS Visualization"
      badge="Quintessential SFT"
      date="Jan 2018 - Jun 2018"
      img="/gams.png"
      desc="GAMS Visualization is a web platform for excel data visualization for the electricity network in Greece. With GAMS you can upload your data, change them, create some charts and also download the changed data. Also, GAMS create some forecasts for the data. I created with Angular."
      skills="JavaScript · Angular · Node.js · TypeScript · Teamwork · Mean Stack · Algorithms · Distributed Systems · Web Development · SQL · NoSQL · MongoDB · CSS · HTML5 · Microservices"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
      title="Cardlink Pulse"
      badge="Cardlink"
      date="Mar 2018 - May 2018"
      url="https://cardlink.gr/en/pulse/"
      img="/cardlink.png"
      desc="Cardlink Pulse is an innovative web application that leverages anonymized data from Cardlink POS transactions to offer valuable business insights through user-friendly graphs and charts. I designed and developed the architecture of the platform and the backend system."
      skills="JavaScript · Angular · Node.js · TypeScript · Teamwork · Mean Stack · Distributed Systems · Web Development · SQL · NoSQL · MongoDB · CSS · HTML5 · Microservices"
  />

  <div class="divider my-0"></div>
  <HorizontalCard
      title="Cardlink chatbot"
      badge="Quintessential SFT"
      date="Sep 2017 - Mar 2018"
      url="https://cardlink.gr/en/"
      img="/cardlink.png"
      desc="I created the first-ever Chatbot for a financial institution in Greece, serving more than 200000 clients. The chatbot has its own API and database and communicates with other REST APIs like Freshdesk to receive data and serve them to the customers. I created the chatbot using bot builder from Microsoft and I connected it with Facebook Messenger and Viber. With the Chatbot, you can log in to the portal of the company, see charts for your transactions, buy more terminals, create support tickets, see FAQs etc. Besides that, the chatbot has an admin interface and it is used to send a notification to users."
      skills="JavaScript · Node.js · Teamwork · Algorithms · Distributed Systems · User Experience (UX) · SQL · NoSQL · MongoDB"
  />

</BaseLayout>
