---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="teaching">
    <div>
        <div class="text-3xl w-full font-bold mb-5">Teaching Experience</div>
    </div>

    <div>
        <div class="text-2xl w-full">University of Southern California</div>
        <div class="text-lg w-full mb-5">Viterbi School of Engineering, Los Angeles, California.</div>
    </div>

    <b class="text-lg">Teaching Assistant</b><br>
    <span class="font-light text-sm">Jan 2024 - Present</span><br>
    <div class="pt-2">
        Course: <a class="text-blue-400" href="https://ccss.usc.edu/530/">CSCI 310 - Software Engineering</a>, Prof.
        William G.J. Halfond. <br>
        Responsibilities:
        <ul class="pl-4  list-disc pb-2">
            <li>Maintaining grade records, overseeing the regrading processes, peer evaluation, and returning grades.
            </li>
        </ul>
    </div>

    <br>

    <b class="text-lg">Teaching Assistant</b><br>
    <span class="font-light text-sm">Aug 2023 - Dec 2023</span><br>
    <div class="pt-2">
        Course: <a class="text-blue-400" href="https://ccss.usc.edu/530/">CSCI 530 - Security Systems</a>, Prof.
        Clifford Neuman. <br>
        Responsibilities:
        <ul class="pl-4  list-disc pb-2">
            <li>Holding office hours once per week for helping the students with their assignments.
            </li>
            <li>Answer and review questions via email or via the discussion platform.</li>
            <li>Grade lab assignments and exams.</li>
            <li>Help the other TA with the lab assignments.</li>
        </ul>
    </div>


    <div class="divider my-5"></div>

    <div>
        <div class="text-2xl w-full">Athens University of Economics and Business</div>
        <div class="text-lg w-full mb-5">Department of Management Science and Technology, Athens, Greece.</div>
    </div>

    <b class="text-lg">Guest Lecturer</b><br>
    <span class="font-light text-sm">Spring 2018 & Spring 2019</span><br>
    <div class="pt-2">
        Course: Digital Content Management & Human-Computer Interaction, Prof. George Lekakos.<br>
        Responsibilities:
        <ul class="pl-4 list-disc pb-2">
            <li>Four four-hour lectures on how to "Design a Mobile App From Scratch."</li>
            <li>Content creator of the assignment.</li>
            <li>Answering questions and help students with their assignments.</li>
        </ul>
    </div>
</BaseLayout>
